<footer id="footer" class="panel">
  <div>
    <div>
      <section>
        <h2>{{ site.title }}</h2>
        <p>{{ site.description }}</p>
        <div id="leaderboard">
          <h3>Total Pledged:</h3>
          <iframe width="266" height="165" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQbiGqEiJHQyyjCGveZJAt8PDuPfeRGAbNj2DC68oCroa0oZz4njyx5KVz-wqPSRaChf6lReXHjJzHv/pubchart?oid=1974416349&amp;format=interactive"></iframe>
          <h3>View the live <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vQbiGqEiJHQyyjCGveZJAt8PDuPfeRGAbNj2DC68oCroa0oZz4njyx5KVz-wqPSRaChf6lReXHjJzHv/pubchart?oid=408362753&format=interactive" target="_blank">leaderboard</a></h3>
          <iframe width="1640" height="591" seamless frameborder="0" scrolling="no" src=""https://docs.google.com/spreadsheets/d/e/2PACX-1vQbiGqEiJHQyyjCGveZJAt8PDuPfeRGAbNj2DC68oCroa0oZz4njyx5KVz-wqPSRaChf6lReXHjJzHv/pubchart?oid=408362753&amp;format=interactive"></iframe>
        </div>
      </section>
    </div>
  </div>
</footer>
