<footer id="footer" class="panel">
  <div>
    <div>
      <section>
        <h2>{{ site.title }}</h2>
        <p>{{ site.description }}</p>
        <div id="leaderboard">
          <h3>Total Pledged:</h3>
          <iframe width="217" height="134" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSJHIUzIrAuP4s7v6xGjfBtVjpgYJ0WaDFy1_5Smych-fMI6Kc2JY7sQCnawETARDS5E8T46pHrqeaD/pubchart?oid=543698139&amp;format=image"></iframe>
          <h3>View the live <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSJHIUzIrAuP4s7v6xGjfBtVjpgYJ0WaDFy1_5Smych-fMI6Kc2JY7sQCnawETARDS5E8T46pHrqeaD/pubchart?oid=252232603&format=interactive" target="_blank">leaderboard</a></h3>
          <iframe width="1640" height="591" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSJHIUzIrAuP4s7v6xGjfBtVjpgYJ0WaDFy1_5Smych-fMI6Kc2JY7sQCnawETARDS5E8T46pHrqeaD/pubchart?oid=252232603&amp;format=interactive"></iframe>
        </div>
      </section>
    </div>
  </div>
</footer>
