<footer id="footer" class="panel">
  <div>
    <div>
      <section>
        <h2>{{ site.title }}</h2>
        <p>{{ site.description }}</p>
        <div id="leaderboard">
          <iframe width="1640" height="591" seamless frameborder="1" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSCNGHB0-o1X5qFsGw0BnCAYfbeilvddFxFIf4wh6tyQkzGM1bnnNRSHt2JzR-8xSXKe21tudo38fJA/pubchart?oid=1004124999&format=interactive"></iframe>
        </div>
      </section>
    </div>
  </div>
</footer>
